{{ define "logs.tmpl" }}

<html> 
<head> 
    <title>"Welcome to ES Puller"</title>
    <link rel="stylesheet" type="text/css" href="http://meyerweb.com/eric/tools/css/reset/reset.css"/>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.js"></script> 
    <script src="http://malsup.github.com/jquery.form.js"></script> 
    </head>
    <body>
    <h1>{{ .hits }} hits</h1>
    <div>
      <a href="/static/{{ .logfile }}" download="{{ .logfile }}">Download</a>
    </div>
</html>
{{ end }}
